<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Afghanistan</key>
        <array>
            <real>59</real>
            <real>61</real>
        </array>
        <key>Albania</key>
        <array>
            <real>73</real>
            <real>75</real>
        </array>
        <key>Algeria</key>
        <array>
            <real>71</real>
            <real>74</real>
        </array>
        <key>Andorra</key>
        <array>
            <real>79</real>
            <real>85</real>
        </array>
        <key>Angola</key>
        <array>
            <real>50</real>
            <real>53</real>
        </array>
        <key>Antigua and Barbuda</key>
        <array>
            <real>73</real>
            <real>76</real>
        </array>
        <key>Argentina</key>
        <array>
            <real>72</real>
            <real>79</real>
        </array>
        <key>Armenia</key>
        <array>
            <real>67</real>
            <real>75</real>
        </array>
        <key>Australia</key>
        <array>
            <real>80</real>
            <real>84</real>
        </array>
        <key>Austria</key>
        <array>
            <real>78</real>
            <real>84</real>
        </array>
        <key>Azerbaijan</key>
        <array>
            <real>69</real>
            <real>74</real>
        </array>
        <key>Bahamas</key>
        <array>
            <real>72</real>
            <real>78</real>
        </array>
        <key>Bahrain</key>
        <array>
            <real>78</real>
            <real>80</real>
        </array>
        <key>Bangladesh</key>
        <array>
            <real>69</real>
            <real>70</real>
        </array>
        <key>Barbados</key>
        <array>
            <real>75</real>
            <real>80</real>
        </array>
        <key>Belarus</key>
        <array>
            <real>66</real>
            <real>77</real>
        </array>
        <key>Belgium</key>
        <array>
            <real>78</real>
            <real>83</real>
        </array>
        <key>Belize</key>
        <array>
            <real>71</real>
            <real>76</real>
        </array>
        <key>Benin</key>
        <array>
            <real>56</real>
            <real>59</real>
        </array>
        <key>Bhutan</key>
        <array>
            <real>66</real>
            <real>69</real>
        </array>
        <key>Bolivia</key>
        <array>
            <real>65</real>
            <real>69</real>
        </array>
        <key>Bosnia and Herzegovina</key>
        <array>
            <real>74</real>
            <real>78</real>
        </array>
        <key>Botswana</key>
        <array>
            <real>64</real>
            <real>67</real>
        </array>
        <key>Brazil</key>
        <array>
            <real>71</real>
            <real>78</real>
        </array>
        <key>Brunei Darussalam</key>
        <array>
            <real>76</real>
            <real>78</real>
        </array>
        <key>Bulgaria</key>
        <array>
            <real>71</real>
            <real>78</real>
        </array>
        <key>Burkina Faso</key>
        <array>
            <real>54</real>
            <real>57</real>
        </array>
        <key>Burundi</key>
        <array>
            <real>52</real>
            <real>54</real>
        </array>
        <key>Cambodia</key>
        <array>
            <real>64</real>
            <real>66</real>
        </array>
        <key>Cameroon</key>
        <array>
            <real>51</real>
            <real>54</real>
        </array>
        <key>Canada</key>
        <array>
            <real>80</real>
            <real>84</real>
        </array>
        <key>Cape Verde</key>
        <array>
            <real>68</real>
            <real>76</real>
        </array>
        <key>Central African Republic</key>
        <array>
            <real>47</real>
            <real>50</real>
        </array>
        <key>Chad</key>
        <array>
            <real>50</real>
            <real>53</real>
        </array>
        <key>Chile</key>
        <array>
            <real>76</real>
            <real>82</real>
        </array>
        <key>China</key>
        <array>
            <real>74</real>
            <real>77</real>
        </array>
        <key>Colombia</key>
        <array>
            <real>74</real>
            <real>81</real>
        </array>
        <key>Comoros</key>
        <array>
            <real>60</real>
            <real>63</real>
        </array>
        <key>Cook Islands</key>
        <array>
            <real>73</real>
            <real>82</real>
        </array>
        <key>Costa Rica</key>
        <array>
            <real>77</real>
            <real>81</real>
        </array>
        <key>Cote d'Ivoire</key>
        <array>
            <real>55</real>
            <real>58</real>
        </array>
        <key>Croatia</key>
        <array>
            <real>74</real>
            <real>80</real>
        </array>
        <key>Cuba</key>
        <array>
            <real>76</real>
            <real>80</real>
        </array>
        <key>Cyprus</key>
        <array>
            <real>79</real>
            <real>84</real>
        </array>
        <key>Czech Republic</key>
        <array>
            <real>75</real>
            <real>81</real>
        </array>
        <key>Democratic Republic of the Congo</key>
        <array>
            <real>48</real>
            <real>51</real>
        </array>
        <key>Denmark</key>
        <array>
            <real>77</real>
            <real>82</real>
        </array>
        <key>Djibouti</key>
        <array>
            <real>57</real>
            <real>60</real>
        </array>
        <key>Dominica</key>
        <array>
            <real>72</real>
            <real>77</real>
        </array>
        <key>Dominican Republic</key>
        <array>
            <real>72</real>
            <real>73</real>
        </array>
        <key>Ecuador</key>
        <array>
            <real>73</real>
            <real>79</real>
        </array>
        <key>Egypt</key>
        <array>
            <real>71</real>
            <real>75</real>
        </array>
        <key>El Salvador</key>
        <array>
            <real>68</real>
            <real>76</real>
        </array>
        <key>Equatorial Guinea</key>
        <array>
            <real>53</real>
            <real>55</real>
        </array>
        <key>Eritrea</key>
        <array>
            <real>59</real>
            <real>64</real>
        </array>
        <key>Estonia</key>
        <array>
            <real>71</real>
            <real>81</real>
        </array>
        <key>Ethiopia</key>
        <array>
            <real>59</real>
            <real>62</real>
        </array>
        <key>Fiji</key>
        <array>
            <real>67</real>
            <real>72</real>
        </array>
        <key>Finland</key>
        <array>
            <real>78</real>
            <real>84</real>
        </array>
        <key>France</key>
        <array>
            <real>78</real>
            <real>85</real>
        </array>
        <key>Gabon</key>
        <array>
            <real>61</real>
            <real>64</real>
        </array>
        <key>Gambia</key>
        <array>
            <real>57</real>
            <real>60</real>
        </array>
        <key>Georgia</key>
        <array>
            <real>68</real>
            <real>76</real>
        </array>
        <key>Germany</key>
        <array>
            <real>78</real>
            <real>83</real>
        </array>
        <key>Ghana</key>
        <array>
            <real>62</real>
            <real>65</real>
        </array>
        <key>Greece</key>
        <array>
            <real>78</real>
            <real>84</real>
        </array>
        <key>Grenada</key>
        <array>
            <real>71</real>
            <real>77</real>
        </array>
        <key>Guatemala</key>
        <array>
            <real>66</real>
            <real>73</real>
        </array>
        <key>Guinea Bissau</key>
        <array>
            <real>48</real>
            <real>52</real>
        </array>
        <key>Guinea</key>
        <array>
            <real>54</real>
            <real>56</real>
        </array>
        <key>Guyana</key>
        <array>
            <real>60</real>
            <real>67</real>
        </array>
        <key>Haiti</key>
        <array>
            <real>62</real>
            <real>64</real>
        </array>
        <key>Honduras</key>
        <array>
            <real>72</real>
            <real>76</real>
        </array>
        <key>Hungary</key>
        <array>
            <real>71</real>
            <real>79</real>
        </array>
        <key>Iceland</key>
        <array>
            <real>81</real>
            <real>84</real>
        </array>
        <key>India</key>
        <array>
            <real>64</real>
            <real>67</real>
        </array>
        <key>Indonesia</key>
        <array>
            <real>69</real>
            <real>71</real>
        </array>
        <key>Iran</key>
        <array>
            <real>72</real>
            <real>75</real>
        </array>
        <key>Iraq</key>
        <array>
            <real>65</real>
            <real>72</real>
        </array>
        <key>Ireland</key>
        <array>
            <real>79</real>
            <real>83</real>
        </array>
        <key>Israel</key>
        <array>
            <real>80</real>
            <real>84</real>
        </array>
        <key>Italy</key>
        <array>
            <real>80</real>
            <real>85</real>
        </array>
        <key>Jamaica</key>
        <array>
            <real>71</real>
            <real>78</real>
        </array>
        <key>Japan</key>
        <array>
            <real>79</real>
            <real>86</real>
        </array>
        <key>Jordan</key>
        <array>
            <real>72</real>
            <real>75</real>
        </array>
        <key>Kazakhstan</key>
        <array>
            <real>62</real>
            <real>72</real>
        </array>
        <key>Kenya</key>
        <array>
            <real>58</real>
            <real>61</real>
        </array>
        <key>Kiribati</key>
        <array>
            <real>65</real>
            <real>71</real>
        </array>
        <key>Kuwait</key>
        <array>
            <real>80</real>
            <real>80</real>
        </array>
        <key>Kyrgyzstan</key>
        <array>
            <real>65</real>
            <real>72</real>
        </array>
        <key>Laos</key>
        <array>
            <real>66</real>
            <real>69</real>
        </array>
        <key>Latvia</key>
        <array>
            <real>69</real>
            <real>78</real>
        </array>
        <key>Lebanon</key>
        <array>
            <real>72</real>
            <real>76</real>
        </array>
        <key>Lesotho</key>
        <array>
            <real>49</real>
            <real>50</real>
        </array>
        <key>Liberia</key>
        <array>
            <real>58</real>
            <real>60</real>
        </array>
        <key>Libya</key>
        <array>
            <real>58</real>
            <real>74</real>
        </array>
        <key>Lithuania</key>
        <array>
            <real>68</real>
            <real>79</real>
        </array>
        <key>Luxembourg</key>
        <array>
            <real>79</real>
            <real>84</real>
        </array>
        <key>Macedonia</key>
        <array>
            <real>73</real>
            <real>77</real>
        </array>
        <key>Madagascar</key>
        <array>
            <real>65</real>
            <real>68</real>
        </array>
        <key>Malawi</key>
        <array>
            <real>57</real>
            <real>58</real>
        </array>
        <key>Malaysia</key>
        <array>
            <real>72</real>
            <real>76</real>
        </array>
        <key>Maldives</key>
        <array>
            <real>76</real>
            <real>78</real>
        </array>
        <key>Mali</key>
        <array>
            <real>50</real>
            <real>53</real>
        </array>
        <key>Malta</key>
        <array>
            <real>79</real>
            <real>82</real>
        </array>
        <key>Marshall Islands</key>
        <array>
            <real>59</real>
            <real>60</real>
        </array>
        <key>Mauritania</key>
        <array>
            <real>57</real>
            <real>60</real>
        </array>
        <key>Mauritius</key>
        <array>
            <real>70</real>
            <real>78</real>
        </array>
        <key>Mexico</key>
        <array>
            <real>72</real>
            <real>78</real>
        </array>
        <key>Micronesia</key>
        <array>
            <real>67</real>
            <real>70</real>
        </array>
        <key>Moldova</key>
        <array>
            <real>67</real>
            <real>75</real>
        </array>
        <key>Monaco</key>
        <array>
            <real>79</real>
            <real>85</real>
        </array>
        <key>Mongolia</key>
        <array>
            <real>64</real>
            <real>73</real>
        </array>
        <key>Montenegro</key>
        <array>
            <real>73</real>
            <real>78</real>
        </array>
        <key>Morocco</key>
        <array>
            <real>70</real>
            <real>74</real>
        </array>
        <key>Mozambique</key>
        <array>
            <real>52</real>
            <real>53</real>
        </array>
        <key>Myanmar</key>
        <array>
            <real>63</real>
            <real>67</real>
        </array>
        <key>Namibia</key>
        <array>
            <real>64</real>
            <real>66</real>
        </array>
        <key>Nauru</key>
        <array>
            <real>68</real>
            <real>76</real>
        </array>
        <key>Nepal</key>
        <array>
            <real>67</real>
            <real>69</real>
        </array>
        <key>Netherlands</key>
        <array>
            <real>79</real>
            <real>83</real>
        </array>
        <key>New Zealand</key>
        <array>
            <real>79</real>
            <real>83</real>
        </array>
        <key>Nicaragua</key>
        <array>
            <real>70</real>
            <real>76</real>
        </array>
        <key>Niger</key>
        <array>
            <real>55</real>
            <real>57</real>
        </array>
        <key>Nigeria</key>
        <array>
            <real>52</real>
            <real>54</real>
        </array>
        <key>Niue</key>
        <array>
            <real>65</real>
            <real>82</real>
        </array>
        <key>North Korea</key>
        <array>
            <real>65</real>
            <real>72</real>
        </array>
        <key>Norway</key>
        <array>
            <real>79</real>
            <real>83</real>
        </array>
        <key>Oman</key>
        <array>
            <real>70</real>
            <real>76</real>
        </array>
        <key>Pakistan</key>
        <array>
            <real>66</real>
            <real>68</real>
        </array>
        <key>Palau</key>
        <array>
            <real>68</real>
            <real>77</real>
        </array>
        <key>Panama</key>
        <array>
            <real>74</real>
            <real>80</real>
        </array>
        <key>Papua New Guinea</key>
        <array>
            <real>62</real>
            <real>65</real>
        </array>
        <key>Paraguay</key>
        <array>
            <real>72</real>
            <real>78</real>
        </array>
        <key>Peru</key>
        <array>
            <real>75</real>
            <real>78</real>
        </array>
        <key>Philippines</key>
        <array>
            <real>66</real>
            <real>73</real>
        </array>
        <key>Poland</key>
        <array>
            <real>72</real>
            <real>81</real>
        </array>
        <key>Portugal</key>
        <array>
            <real>77</real>
            <real>83</real>
        </array>
        <key>Qatar</key>
        <array>
            <real>83</real>
            <real>81</real>
        </array>
        <key>Republic of the Congo</key>
        <array>
            <real>57</real>
            <real>59</real>
        </array>
        <key>Romania</key>
        <array>
            <real>70</real>
            <real>78</real>
        </array>
        <key>Russia</key>
        <array>
            <real>63</real>
            <real>75</real>
        </array>
        <key>Rwanda</key>
        <array>
            <real>58</real>
            <real>61</real>
        </array>
        <key>Saint Kitts and Nevis</key>
        <array>
            <real>71</real>
            <real>77</real>
        </array>
        <key>Saint Lucia</key>
        <array>
            <real>71</real>
            <real>79</real>
        </array>
        <key>Saint Vincent and the Grenadines</key>
        <array>
            <real>71</real>
            <real>76</real>
        </array>
        <key>Samoa</key>
        <array>
            <real>70</real>
            <real>76</real>
        </array>
        <key>San Marino</key>
        <array>
            <real>82</real>
            <real>83</real>
        </array>
        <key>Sao Tome and Principe</key>
        <array>
            <real>62</real>
            <real>65</real>
        </array>
        <key>Saudi Arabia</key>
        <array>
            <real>74</real>
            <real>80</real>
        </array>
        <key>Senegal</key>
        <array>
            <real>60</real>
            <real>62</real>
        </array>
        <key>Serbia</key>
        <array>
            <real>72</real>
            <real>77</real>
        </array>
        <key>Seychelles</key>
        <array>
            <real>69</real>
            <real>78</real>
        </array>
        <key>Sierra Leone</key>
        <array>
            <real>46</real>
            <real>47</real>
        </array>
        <key>Singapore</key>
        <array>
            <real>80</real>
            <real>85</real>
        </array>
        <key>Slovakia</key>
        <array>
            <real>72</real>
            <real>80</real>
        </array>
        <key>Slovenia</key>
        <array>
            <real>77</real>
            <real>83</real>
        </array>
        <key>Solomon Islands</key>
        <array>
            <real>68</real>
            <real>71</real>
        </array>
        <key>Somalia</key>
        <array>
            <real>48</real>
            <real>52</real>
        </array>
        <key>South Africa</key>
        <array>
            <real>57</real>
            <real>60</real>
        </array>
        <key>South Korea</key>
        <array>
            <real>77</real>
            <real>84</real>
        </array>
        <key>Spain</key>
        <array>
            <real>79</real>
            <real>85</real>
        </array>
        <key>Sri Lanka</key>
        <array>
            <real>71</real>
            <real>78</real>
        </array>
        <key>Sudan</key>
        <array>
            <real>60</real>
            <real>64</real>
        </array>
        <key>Suriname</key>
        <array>
            <real>69</real>
            <real>76</real>
        </array>
        <key>Swaziland</key>
        <array>
            <real>49</real>
            <real>51</real>
        </array>
        <key>Sweden</key>
        <array>
            <real>80</real>
            <real>84</real>
        </array>
        <key>Switzerland</key>
        <array>
            <real>80</real>
            <real>85</real>
        </array>
        <key>Syria</key>
        <array>
            <real>73</real>
            <real>77</real>
        </array>
        <key>Tajikistan</key>
        <array>
            <real>67</real>
            <real>69</real>
        </array>
        <key>Tanzania</key>
        <array>
            <real>58</real>
            <real>61</real>
        </array>
        <key>Thailand</key>
        <array>
            <real>71</real>
            <real>77</real>
        </array>
        <key>Timor-Leste</key>
        <array>
            <real>63</real>
            <real>65</real>
        </array>
        <key>Togo</key>
        <array>
            <real>55</real>
            <real>58</real>
        </array>
        <key>Tonga</key>
        <array>
            <real>73</real>
            <real>70</real>
        </array>
        <key>Trinidad and Tobago</key>
        <array>
            <real>66</real>
            <real>75</real>
        </array>
        <key>Tunisia</key>
        <array>
            <real>74</real>
            <real>78</real>
        </array>
        <key>Turkey</key>
        <array>
            <real>73</real>
            <real>78</real>
        </array>
        <key>Turkmenistan</key>
        <array>
            <real>60</real>
            <real>67</real>
        </array>
        <key>Tuvalu</key>
        <array>
            <real>65</real>
            <real>64</real>
        </array>
        <key>Uganda</key>
        <array>
            <real>54</real>
            <real>57</real>
        </array>
        <key>Ukraine</key>
        <array>
            <real>65</real>
            <real>76</real>
        </array>
        <key>United Arab Emirates</key>
        <array>
            <real>75</real>
            <real>77</real>
        </array>
        <key>United Kingdom</key>
        <array>
            <real>79</real>
            <real>82</real>
        </array>
        <key>United States</key>
        <array>
            <real>76</real>
            <real>81</real>
        </array>
        <key>Uruguay</key>
        <array>
            <real>73</real>
            <real>80</real>
        </array>
        <key>Uzbekistan</key>
        <array>
            <real>66</real>
            <real>71</real>
        </array>
        <key>Vanuatu</key>
        <array>
            <real>71</real>
            <real>74</real>
        </array>
        <key>Venezuela</key>
        <array>
            <real>72</real>
            <real>79</real>
        </array>
        <key>Vietnam</key>
        <array>
            <real>73</real>
            <real>77</real>
        </array>
        <key>Yemen</key>
        <array>
            <real>63</real>
            <real>66</real>
        </array>
        <key>Zambia</key>
        <array>
            <real>54</real>
            <real>56</real>
        </array>
        <key>Zimbabwe</key>
        <array>
            <real>53</real>
            <real>55</real>
        </array>
    </dict>
</plist>